{% load static %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DnD Atarax - DM sekce{% endblock %}</title>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <nav aria-label="Hlavní navigace">
            <ul>
                <li><a href="{% url 'dm_site_app:index' %}">DM sekce (Home)</a></li>
                <li><a href="{% url 'player_site_app:index' %}">Přejít do Hráčské sekce</a></li>
            </ul>
        </nav>
        <hr>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <hr>
        <p>&copy; DnD Atarax - Sekce Pána jeskyně (DM)</p>
    </footer>
    {% block extra_js %}{% endblock %}
</body>
</html>
