{% extends "base.html" %}

{% block title %}DnD Atarax - DM sekce{% endblock %}

{% block content %}

<h1>Správa zlaťáků</h1>

{% for char in all_chars %}
    <div class="char">
        <h2>{{ char.name }}</h2>
        <p><strong>Hráč:</strong> {{ char.player.nickname }}</p>
        <p><strong>Měna:</strong> {{ char.gold }} zlaťáků, {{ char.silver }} stříbrňáků</p>
        <form action="{% url 'dm_site_app:add_gold' %}" method="post">
            {% csrf_token %}
            <label for="gold">Zlaťáky:</label>
            <input type="number" name="gold" value="0">
            <label for="silver">Stříbrňáky:</label>
            <input type="number" name="silver" value="0">
            <input type="hidden" name="char_id" value="{{ char.id }}">
            <button type="submit" name="action" value="plus">Přidat</button>
            <button type="submit" name="action" value="minus">Ubrat</button>
        </form>
    </div>  
{% endfor %}

{% endblock %}
