{% extends "dm_site_app/base_dm.html" %}

{% block title %}Loot manager{% endblock %}

{% block dm_content %}
<h1>Loot manager</h1>


<h2>Živá monstra:</h2>
{% for mob in alive_monsters %}
    
    <form action="{% url 'dm_site_app:plus_loot_gold' %}" method="post">
        {% csrf_token %}
        {{ mob.name_cz }} - {{ mob.loot_gold }}zl - {{ mob.loot_silver }}sp
        <input type="hidden" name="mob_id" value="{{ mob.id }}">
        <select name="character_id">
            {% for char in all_chars %}
                <option value="{{ char.id }}">{{ char.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Přidat</button>
    </form>

{% endfor %}

<h2>Mrtvá monstra:</h2>
{% for mob in dead_monsters %}
        
    <form action="{% url 'dm_site_app:plus_loot_gold' %}" method="post">
        {% csrf_token %}
        {{ mob.name_cz }} - {{ mob.loot_gold }}zl - {{ mob.loot_silver }}sp
        <input type="hidden" name="mob_id" value="{{ mob.id }}">
        <select name="character_id">
            {% for char in all_chars %}
                <option value="{{ char.id }}">{{ char.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Přidat</button>
    </form>

{% endfor %}

{% endblock %}
