{% extends "dm_site_app/base_dm.html" %}

{% block title %}DnD Atarax - Generátor NPC{% endblock %}

{% block dm_content %}

<h1>Aktivní monstra:</h1>

{% if active_mobs_names %}
<h2>{{ active_mobs_names }}</h2>
{% endif %}



<hr>

<h1>Generace monster:</h1>

<form action="{% url 'dm_site_app:random_monster_gen' %}" method="POST">
    {% csrf_token %}
    <input type="number" name="mob_lvl" placeholder="Úroveň nestvůry" min="0" max="30" required>
    <input type="number" name="mob_dificulty" placeholder="Obtížnost v rámci úrovně (1-5)" step="1" min="1" max="5" required>
    <button type="submit" name="generate" class="btn btn-primary">Generovat</button>
</form>

<hr>

<h1>Výběr konkrétního monstra:</h1>


{% endblock %}
