{% extends "dm_site_app/base_dm.html" %}

{% block title %}Příprava na souboj{% endblock %}

{% block dm_content %}

<h1>Výběr postav do soubojů:</h1>

<h1>MOBS:</h1>

{% for mob in all_active_mobs %}
    <ul>
        <li>
            {{ mob.name }} - {{ mob.challenge_rating }}
            {% if mob.in_fight == False %}
                <form action="{% url 'dm_site_app:in_fight_switch' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="mob_id" value="{{ mob.id }}">
                    <input type="hidden" name="in_fight" value="True">
                    <button type="submit">Vybrat do souboje</button>
                </form>
            {% else %}
                <form action="{% url 'dm_site_app:in_fight_switch' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="mob_id" value="{{ mob.id }}">
                    <input type="hidden" name="in_fight" value="False">
                    <button type="submit">Odebrat ze souboje</button>
                </form>
            {% endif %}
        </li>
    </ul>
{% endfor %}

<h1>Hráči:</h1>

{% for player in all_players %}
    <ul>
        <li>
            {{ player.name }}
        </li>
    </ul>
{% endfor %}




{% endblock %}
