{% extends "dm_site_app/base_dm.html" %}

{% block title %}Příprava na souboj{% endblock %}

{% block dm_content %}

<h1>Výběr postav do soubojů:</h1>

<h1>MOBS:</h1>

<ul>
{% for mob in all_active_mobs %}
    <li style="margin-bottom: 8px;">
        <strong>{{ mob.name_cz }}</strong> - CR: {{ mob.challenge_rating }}
        {% if mob.in_fight %}
            <span style="color: green; font-weight: bold;">(V boji)</span>
            <form action="{% url 'dm_site_app:in_fight_switch' %}" method="post" style="display: inline; margin-left: 8px;">
                {% csrf_token %}
                <input type="hidden" name="source_id" value="{{ mob.id }}">
                <input type="hidden" name="in_fight" value="False">
                <input type="hidden" name="source" value="mob">
                <button type="submit" class="btn btn-danger">Odebrat ze souboje</button>
            </form>
        {% else %}
            <form action="{% url 'dm_site_app:in_fight_switch' %}" method="post" style="display: inline; margin-left: 8px;">
                {% csrf_token %}
                <input type="hidden" name="source_id" value="{{ mob.id }}">
                <input type="hidden" name="in_fight" value="True">
                <input type="hidden" name="source" value="mob">
                <button type="submit" class="btn btn-success">Vybrat do souboje</button>
            </form>
        {% endif %}
    </li>
{% empty %}
    <li>Žádná aktivní monstra.</li>
{% endfor %}
</ul>

<h1>Hráči:</h1>

<ul>
{% for player in all_players %}
    <li style="margin-bottom: 8px;">
        <strong>{{ player.name }}</strong> 
        {% if player.in_fight %}
            <span style="color: green; font-weight: bold;">(V boji)</span>
            <form action="{% url 'dm_site_app:in_fight_switch' %}" method="post" style="display: inline; margin-left: 8px;">
                {% csrf_token %}
                <input type="hidden" name="source_id" value="{{ player.id }}">
                <input type="hidden" name="in_fight" value="False">
                <input type="hidden" name="source" value="player">
                <button type="submit" class="btn btn-danger">Odebrat ze souboje</button>
            </form>
        {% else %}
            <form action="{% url 'dm_site_app:in_fight_switch' %}" method="post" style="display: inline; margin-left: 8px;">
                {% csrf_token %}
                <input type="hidden" name="source_id" value="{{ player.id }}">
                <input type="hidden" name="in_fight" value="True">
                <input type="hidden" name="source" value="player">
                <button type="submit" class="btn btn-success">Vybrat do souboje</button>
            </form>
        {% endif %}
    </li>
{% empty %}
    <li>Žádní hráči k dispozici.</li>
{% endfor %}
</ul>


<button onclick="location.href='/dm_site_app/pvp_arena'" class="btn btn-success">Vstup do Arény</button>

{% endblock %}
