{% extends "player_site_app/player_base.html" %}

{% block title %}DnD Atarax - Dungeon Shop{% endblock %}

{% block player_content %}
<div class="atarax-page-header">
    <div class="atarax-header-title-group">
        <h1><span>🛒</span> Dungeon Shop</h1>
        <p class="atarax-header-subtitle">Rozhodně ne P2W.</p>
    </div>
</div>

<div class="atarax-card">
    <div class="atarax-card-header">
        <h2 class="atarax-card-title">
            <span>🪙</span> Dostupné měny a zdroje
        </h2>
    </div>

    <div class="grid-3">
        <div class="stat-box">
            <div class="stat-label">Temná esence hráče</div>
            <div class="stat-value stat-value-essence">{{ player.temna_esence|default:0 }} 🔮</div>
            <div class="stat-sub">(Platí pro celý účet)</div>
        </div>
    </div>
</div>

<div class="atarax-card">
    <div class="atarax-card-header">
        <h2 class="atarax-card-title">
            <span>🔮</span> Nabídka Dungeon Shopu
        </h2>
    </div>
    <p class="dm-item-desc">
        {% for treasure in treasures %}
            <form action="{% url 'player_site_app:esence_buy' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ treasure.id }}">
                <input type="hidden" name="item_category" value="{{treasure.category}}">
                <input type="hidden" name="item_rarity" value="{{ treasure.rarity }}">
                <input type="hidden" name="item_cost" value="{{ treasure.cost }}">
                <input type="hidden" name="player_id" value="{{player.id}}">
                {% if player.temna_esence >= treasure.cost %}
                    <button type="submit">{{ treasure.name }} - Cena: {{ treasure.cost }} 🔮</button>
                {% else %}
                    <button type="submit" disabled>{{ treasure.name }} - Nedostatečný počet esencí</button>
                {% endif %}
            </form>
        {% endfor %}
    </p>
</div>
{% endblock %}
