{% extends "player_site_app/player_base.html" %}

{% block title %}DnD Atarax - Dungeon Shop{% endblock %}

{% block player_content %}
<div class="atarax-page-header">
    <div class="atarax-header-title-group">
        <h1><span>🛒</span> Dungeon Shop</h1>
        <p class="atarax-header-subtitle">Rozhodně ne P2W.</p>
    </div>
</div>

<div class="atarax-card">
    <div class="atarax-card-header">
        <h2 class="atarax-card-title">
            <span>🪙</span> Dostupné měny a zdroje
        </h2>
    </div>

    <div class="grid-3">
        <div class="stat-box">
            <div class="stat-label">Temná esence hráče</div>
            <div class="stat-value stat-value-essence">{{ player.temna_esence|default:0 }} 🔮</div>
            <div class="stat-sub">(Platí pro celý účet)</div>
        </div>
    </div>
</div>

<div class="atarax-card">
    <div class="atarax-card-header">
        <h2 class="atarax-card-title">
            <span>🔮</span> Nabídka Dungeon Shopu
        </h2>
    </div>
    <p class="dm-item-desc">
        Rámečky
    </p>
</div>
{% endblock %}
